html, 
body {
/*   margin: 10; */
/*   padding: 10; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 0, 97, 0.2);
}

.game-title {
  color: #FAFA00;
  text-shadow: 2px 2px #000;
  background-color: #fff;
  border: solid #0a0061 2px;
  padding: 0.25em 1.5em;
  opacity: 0..8;
}

.score {
  color: #0a0061;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 588px;
  width: 588px;
  border: solid #0a0061;
  background-color: #0a0061;
}

.grid div {
  height: 21px;
  width: 21px;
}

.pac-dot {
  background-color: #fff;
  border: 6px solid #0a0061;
  box-sizing: border-box;
}

.wall {
  background-color: #4034AD;
}

.power-pellet {
  background-color: #00ff00;
  box-sizing: border-box;
/*   border: 1px solid #0a0061; */
  opacity: 0.7;
  border-radius: 25px;
}

.ghost-lair {
  background-color: #0a0061;
}

.pacman {
  background-color: #ffff00;
  border-radius: 12px;
  border: none;
}

.blinky {
  background-color: red;
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: teal;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: aquamarine;
  border: none;
}