html, 
body {
  margin: 10;
  padding: 10;
}

.game-title {
  color: #c6c95b;
  
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
  border: solid black;
}

.grid div {
  height: 20px;
  width: 20px;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.power-pellet {
  background-color: green;
  border-radius: 7.5px;
}

.ghost-lair {
  background-color: paleturquoise;
}

.pacman {
  background-color: #c6c95b;
  border-radius: 7.5px;
  border: none;
}

.blinky {
  background-color: red;
  /* border-top-left-radius: 3px; */
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: teal;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: aquamarine;
  border: none;
}